*{
    box-sizing: border-box;
  }
  
body{
    margin:0px;
    background-color: rgb(137, 191, 235);
  }

.menu_wrapper, .settings_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

.settings_wrapper {

  }

.settings_team_inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.settings_map_inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings_team_block {
    width: calc(50% - 20px);
    height: calc(50% - 20px);
    background-color: rgb(235, 218, 218);
    font-size: 20px;
    margin: 1px;
}

.settings_map_block {
    width: 200px;
    height: 150px;
    border: solid 1px black;
    margin-bottom: 10px;
}

.settings_item {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: calc(50% - 20px);
  height: calc(50% - 20px);
  background-color: rgb(190, 161, 162);
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  /* font-family: 'Andika New Basic', sans-serif;  
  letter-spacing: 20px; */ 
  color: rgb(104, 50, 16);
  box-shadow: 0 5px 0 rgb(97, 73, 68);
  margin: 10px;
  padding: 10px;
}

.table_title {
    background-color: rgb(122, 118, 118);
}

.settings_title, .settings_item_title {
    text-align: center;
    font-size: 40px;
    color:  rgb(97, 73, 68);
    font-family: 'Andika New Basic', sans-serif; 
    margin-bottom: 20px; 
}

.settings_chart_inner {
    display: flex;
    flex-direction: row;  
    margin-bottom: 10px;  
}

.styled-select select {
  
    width: 268px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
 }

.startGame_btn, .exit_btn {
    width: auto;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
    color:  rgb(97, 73, 68);
    background-color: rgb(206, 199, 197);
}

.startGame_btn:hover,.exit_btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color:  rgb(228, 228, 216);
}


.team_color {
    background-color: hotpink;
}
  

.settings_game {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.settings_game_block {
    width: calc(45%);
    /* height: calc(20%); */
    /* border: 1px solid dimgrey; */
    background-color: rgb(206, 154, 154);    
    background-size: cover;  
    padding: 5px;
    /* width: 220px;
    height: 220px;
    border: solid 2px red; */
}
.settings_game_item{
    margin-right: 10px;
    cursor: pointer;
    user-select: none;  
    border-radius: 20px;
    width: 70px;
    height: 70px;    
    border: 1px solid dimgrey; 
    background-color: rgb(233, 227, 227);
    
    text-shadow: 0px 0px 3px #fff, 0px 0px 2px #fff, 0px 0px 1px #fff, 0px 0px 1px #fff;    
    
}

.settings_game_item:hover {
    opacity: 0.85;
    background-color: rgb(13, 13, 14);
}

.settings_game_item:active {
    border: 2px solid yellow;
    transition: background 0s;
}

.block_title {
    user-select: none;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    text-decoration: underline;
} 
.main_settings_amount_health {
    background-image: url(/src/assets/amountHealth.png);
    font-size: 35px;
    vertical-align: center;
    background-size: cover; 
    background-repeat: no-repeat;  
 
}

.main_settings_amount_rounds {
    background-image: url(/src/assets/KMines_mines_game_6146.png);
    font-size: 35px;
    vertical-align: center;
    background-size: cover; 
    background-repeat: no-repeat;
}

.settings_inner_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.object_settings_amount_barrel{
    background-image: url(/src/assets/Bloody-Mary-icon_30349.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

.main_settings_lose_health {
    background-image: url(/src/assets/Skeleton_icon-icons.com_75031.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

.main_settings_grow_water {
    background-image: url(/src/assets/waterBtn.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

.main_settings_run_jump {
    background-image: url(/src/assets/Footsteps_icon-icons.com_67556.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

.main_settings_choice_worm {
    background-image: url(/src/assets/settingsChart.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

.main_settings_time_step {
    background-image: url(/src/assets/Time_icon-icons.com_67501.png);
    background-repeat: no-repeat;
    background-size: cover;  
}

.main_settings_time_round {
    background-image: url(/src/assets/Historical_icon-icons.com_54175.png);
    background-repeat: no-repeat;
    background-size: cover;  
}
.main_settings_time_prepare {
    background-image: url(/src/assets/javawebstart_java_we_13069.png);
    background-repeat: no-repeat;
    background-size: cover;  
}

.main_settings_place_worm {
    background-image: url(/src/assets/starthere_map_11060.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main_settings_bullet_update {
    background-image: url(/src/assets/bullet.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main_settings_amount_kit {
    background-image: url(/src/assets/kit.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main_settings_chance_box_weapon {
    background-image: url(/src/assets/boxfly.png);
    background-repeat: no-repeat;
    background-size: cover; 
}