*{
  box-sizing: border-box;
}

.page_wrapper{

}

.weapon_item{

}

.menu_wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.weapon_item__selected{
  background-color: #900;
}

.footer{
  background-color: #000;
  height: 30px;
  color: #fff;
}

.navi{
  background-color:rgb(190, 161, 162);
  height: 30px;
  color: rgb(97, 73, 68);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navi_item{
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 30px;
  padding: 0px 10px;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  color: #000;
  letter-spacing: 8px;
}

.navi_item:hover{
  background-color: #fff5;
}

.logo{
  background-color: rgba(165, 163, 161, 0.746);
  background-image: url(/src/assets/draw_svg20200611-26544-gjkffg.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  color: rgb(56, 42, 39);;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 0px 0px 3px #fff, 0px 0px 2px #fff, 0px 0px 1px #fff, 0px 0px 1px #fff;
  /* text-align: center; */
  padding-left: 70px;
  letter-spacing: 10px;
}

.menu_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(35% - 30px);
  height: calc(40% - 10px);
  background-color: rgb(190, 161, 162);
  border-radius: 30px;
  font-size: 60px;
  font-weight: bold;
  /* font-family: 'Andika New Basic', sans-serif;
  letter-spacing: 20px; */
  color: rgb(104, 50, 16);
  box-shadow: 0 5px 0 rgb(97, 73, 68);
  margin: 10px;
  padding: 10px;

}
.load_button{
  border-radius: 5px;
  border: solid 3px #000;
  padding: 5px;
  font-size: 43px;
  background-color: #cc0;
  cursor: pointer;
  user-select: none;
  transition-duration: 200ms;
}

.load_button:hover{
  transform: scale(1.05);
}

.gamescreen_wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 110px);
  position: relative;
  overflow: hidden;
}

.gamescreen_wrapper_centred{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 110px);
  position: relative;
  background-color: rgb(179, 48, 48);
}


.gamescreen_top{
  width: 100%;
  height: 100px;
  /* background-color: #0004; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gamescreen_bottom{
  width: 100%;
  height: 100px;
  /* background-color: #0004; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gamescreen_panel{
  width: 100%;
  height: 100%;
  /* background-color: #0004; */
  padding: 5px;
}

.gamescreen__clock{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  border: solid;

}

.teams_wrapper{

}

.teams_item{
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.team_block{
  margin: 1px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team_name{
  justify-content:flex-end;
}

.team_avatar{
  padding: 1px;
  min-width: 35px;
  border: solid 1px rgb(97, 73, 68);
  width: 45px;
}

.team_health{
  justify-content:flex-start;
}

.team_name-text{
  padding: 1px;
  border: solid 1px rgb(97, 73, 68);
}

.team_health-value{
  padding: 1px;
  border: solid 1px rgb(97, 73, 68);
  height: 100%;
}
.weapon_btn {
  display: flex;
  width: 25px;
  height: 25px;
  border: solid 2px rgb(0, 0, 0);
  background-color: rgb(122, 117, 117);
}

.gamescreen_weapons {
  display: flex;
  justify-content: flex-end;

}

/* ----------- */

.menu_wrapper, .settings_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.editor_wrapper, .editor {
  display: flex;
  flex-direction: row;

}

.editor_pole {
  margin: 10px;
  background-color: #fff;
  width: 800px;
  height: 400px;
  border: solid 2px #000;
}


.editor_tools_inner {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.editor_tools_btn {
  cursor: pointer;
  user-select: none;
  padding: 7px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  margin: 20px;
  color:  rgb(97, 73, 68);
  background-color: #cc0;
  /* border: solid 1px transparent; */
}

.editor_tools_btn:hover {
  opacity: 0.85;
}

.editor_tools_btn:active {

  outline: solid 3px #000;
}

.editor_brush_size {
  background-color: #fff;
}

.settings_team_inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.settings_map_inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings_team_block {
  width: calc(50% - 20px);
  height: calc(50% - 20px);
  background-color: rgb(235, 218, 218);
  font-size: 20px;
  margin: 1px;
}

.settings_map_block {
  width: 250px;
  height: 150px;
  border: solid 1px black;
  margin-bottom: 10px;
  background-image: url(/src/assets/bitmap1.png);
  background-size: contain;
}

.settings_item {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: calc(50% - 20px);
/* height: calc(50% - 20px); */
background-color: rgb(190, 161, 162);
border-radius: 5px;
font-size: 20px;
font-weight: bold;
color: rgb(104, 50, 16);
box-shadow: 0 5px 0 rgb(97, 73, 68);
margin: 10px;
padding: 10px;
}

.table_title {
  background-color: rgb(122, 118, 118);
}

.settings_title, .settings_item_title {
  user-select: none;
  text-align: center;
  font-size: 20px;
  color:  rgb(97, 73, 68);
  font-family: 'Andika New Basic', sans-serif;
  margin-bottom: 10px;
}

.settings_chart_inner {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.styled-select select {

  width: 268px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
}

.startGame_btn, .return_btn {
  user-select: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  margin: 20px;
  color:  rgb(97, 73, 68);
  background-color: rgb(206, 199, 197);
}

.startGame_btn:hover,.return_btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color:  rgb(228, 228, 216);
}


.team_color {
  background-color: hotpink;
}


.settings_game {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.settings_game_block {
  width: calc(45%);
  background-color: rgb(206, 154, 154);
  background-size: cover;
  padding: 5px;

}
.settings_game_item{
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
  border-radius: 20px;
  width: 70px;
  height: 70px;
  border: 1px solid dimgrey;
  background-color: rgb(233, 227, 227);

  text-shadow: 0px 0px 3px #fff, 0px 0px 2px #fff, 0px 0px 1px #fff, 0px 0px 1px #fff;

}

.settings_game_item:hover {
  opacity: 0.85;
  background-color: rgb(13, 13, 14);
}

.settings_game_item:active {
  border: 2px solid yellow;
  transition: background 0s;
}

.block_title {
  user-select: none;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  text-decoration: underline;
}
.main_settings_amount_health {
  background-image: url(/src/assets/amountHealth.png);
  font-size: 35px;
  vertical-align: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.main_settings_amount_rounds {
  background-image: url(/src/assets/KMines_mines_game_6146.png);
  font-size: 35px;
  vertical-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.settings_inner_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.object_settings_amount_barrel{
  background-image: url(/src/assets/Bloody-Mary-icon_30349.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_settings_lose_health {
  background-image: url(/src/assets/Skeleton_icon-icons.com_75031.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_settings_grow_water {
  background-image: url(/src/assets/waterBtn.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_settings_run_jump {
  background-image: url(/src/assets/Footsteps_icon-icons.com_67556.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_settings_choice_worm {
  background-image: url(/src/assets/settingsChart.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_settings_time_step {
  background-image: url(/src/assets/Time_icon-icons.com_67501.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_settings_time_round {
  background-image: url(/src/assets/Historical_icon-icons.com_54175.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main_settings_time_prepare {
  background-image: url(/src/assets/javawebstart_java_we_13069.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_settings_place_worm {
  background-image: url(/src/assets/starthere_map_11060.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_settings_bullet_update {
  background-image: url(/src/assets/bullet.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_settings_amount_kit {
  background-image: url(/src/assets/kit.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_settings_chance_box_weapon {
  background-image: url(/src/assets/boxfly.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_settings_day_time {
  background-image: url(/src/assets/dayNight.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_settings_change_season {
  background-image: url(/src/assets/season.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_settings_chance_toolbox {
  background-image: url(/src/assets/tollbox.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.settings_weapon{
  width: 200px;
  height: 150px;
  margin: 1px;
  background-image: url(/src/assets/menuChartWeapon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
}

.settings_game {
  width: 200px;
  height: 150px;
  margin: 1px;
  background-image: url(/src/assets/settingsChart.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
}
.editor_canvas {
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 80%;
  position: relative;
}
