:root {
  --main-bg-color: #1d2333;
  --light-bg-color: #21283b;
  --deep-dark-bg-color: #161b28;
  --accent-color: #40d04f;
  --secondary-color: #7750f8;
  --icons-color: #9b7dff;
  --light-bg-color: #293249;
  --font-color: #fff;
}