:root {
  --main-bg-color: #1d2333;
  --accent-color: #40d04f;
  --secondary-color: #7750f8;
  --icons-color: #9b7dff;
  --light-bg-color: #293249;
  --font-color: #fff;
}

body {
  font-family: Rajdhani, sans-serif;
  font-weight: 700;
  color: #fff;
}

/*---------
1. GENERAL
-----------*/
.gamescreen_bottom {
  background: var(--main-bg-color);
  background: linear-gradient(0deg, var(--main-bg-color) 0%, rgba(0, 96, 255, 0.2) 100%);
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

/*---------
2. TIME-INDICATOR
-----------*/
.gamescreen__clock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.clock-next {
  position: relative;
  font-size: 35px;
  width: 200px;
  height: 60px;
  color: var(--font-color);
}
@media screen and (max-width: 992px) {
  .clock-next {
    width: 90px;
    font-size: 24px;
  }
}
.clock-next__time-left {
  font-family: Rajdhani, sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock-next__progress-bar {
  position: absolute;
  left: 45px;
  top: 26px;
  width: 80%;
  height: 8px;
  border-radius: 10px;
  background-color: var(--accent-color);
  z-index: 1;
}
@media screen and (max-width: 720px) {
  .clock-next__progress-bar {
    left: 35px;
  }
}
.clock-next__progress-bar.clock-next__progress-bar_shadow {
  width: 79%;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  z-index: 0;
}

/*---------
3. WIND
-----------*/
.gamescreen_wind {
  min-width: 130px;
}

.wind-indicator {
  position: relative;
  margin-left: 35px;
}
.wind-indicator::before {
  content: "";
  position: absolute;
  background-image: url("../assets/wind.png");
  background-size: cover;
  width: 26px;
  height: 20px;
  display: block;
  top: 0;
  left: -35px;
}

/*-------------
4. Game Screen top
--------------*/
.gamescreen_top {
  position: absolute;
  top: -80px;
  right: 0;
  min-width: 160px;
  height: 50px;
}

.gamescreen_pause, .gamescreen_weapons {
  padding: 0;
}

/*---------
TEAM-INDICATOR
-----------*/
.teams_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  max-height: 150px;
  overflow: auto;
  z-index: 1;
}
@media screen and (max-width: 800px) {
  .teams_wrapper {
    padding-left: 30px;
  }
}

.teams_item {
  position: relative;
  min-width: 220px;
  padding: 5px 9px 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px #40d04f solid;
  border-radius: 15px;
  margin-bottom: 15px;
}
.teams_item:not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 720px) {
  .teams_item:not(:last-child) {
    margin-right: 0;
  }
}

.team_name-text {
  color: var(--font-color);
  font-weight: bold;
  padding: 5px;
}

.team_health-value {
  color: var(--font-color);
  font-weight: bold;
  padding: 7px;
  font-size: 25px;
}

.menu {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  z-index: 1;
  transition: width 0.5s ease;
  border-radius: 10px;
}
.menu__item {
  width: 100px;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.menu__item:hover {
  border-bottom: 4px solid var(--accent-color);
}
.menu__item:hover .menu__icon {
  visibility: hidden;
  transform: translateY(-20px);
  opacity: 0;
}
.menu__item:hover .menu__text {
  transform: translate(0);
  opacity: 1;
  visibility: visible;
}
.menu__item:not(:last-child)::after {
  display: block;
  content: "";
  width: 1px;
  height: 20px;
  background-color: var(--font-color);
  opacity: 0.6;
  position: absolute;
  top: 15px;
  right: 0;
}
.menu__icon {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  fill: var(--font-color);
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.menu__text {
  position: absolute;
  top: calc(50% - 10px);
  width: 100%;
  text-align: center;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.weaponscreen_inner, .dropdown-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.weaponscreen_wrapper, .dropdown-box {
  position: absolute;
  top: 0;
  right: 30px;
  width: 330px;
  border-radius: 10px;
  background-color: var(--main-bg-color);
  box-shadow: 3px 5px 40px 0 rgba(0, 0, 0, 0.06);
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, -40px);
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, visibility 0.4s ease-in-out 0s;
}
.weaponscreen_wrapper.opened, .dropdown-box.opened {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, visibility 0.4s ease-in-out 0s;
}

.weapon-header, .dropdown-box__header {
  height: 50px;
  opacity: 0.7;
  padding: 15px;
}

.weapon-footer, .dropdown-box__footer {
  padding: 20px;
}

.weapon-main, .dropdown-box__main {
  max-height: 300px;
  overflow: auto;
  padding: 25px 10px 10px 25px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.weaponscreen_item {
  position: relative;
  user-select: none;
  width: 75px;
  height: 75px;
  border-radius: 10px;
  background-color: var(--light-bg-color);
  background-size: cover;
  margin: 0 20px 20px 0;
  cursor: pointer;
  background-image: url("../assets/bullet.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: bottom 5px left 5px;
}
.weaponscreen_item_title {
  padding: 5px;
  text-align: center;
  background-color: rgba(29, 35, 51, 0.2);
  padding-bottom: 0;
}

.weaponscreen_item:nth-child(2) {
  background-image: url("../assets/Bazooka.png");
}

.weaponscreen_item:nth-child(3) {
  background-image: url("../assets/Grenade.png");
}

.weaponscreen_item:nth-child(n+4) {
  background-image: url("../assets/Bazooka-2.png");
}

.weapon_amount_available {
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  color: var(--font-color);
  padding: 3px 5px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  bottom: -5px;
  right: -5px;
}

.weaponscreen_item:hover {
  opacity: 0.7;
}

.weaponscreen_item_unavailable {
  cursor: auto;
  filter: grayscale(100%);
}

.weaponscreen_item_active {
  border: 2px solid var(--accent-color);
}

/*--------
SCROLLBAR
---------*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
  background: #465379;
  opacity: 0.5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6175ac;
  opacity: 0.7;
}

/*---------
Pause popup
----------*/
.pausescreen_inner {
  background-color: rgba(0, 0, 0, 0.6);
}
.pausescreen_inner .dropdown-box {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pausescreen_inner .dropdown-box__main canvas {
  display: none;
}
.pausescreen_inner .dropdown-box__main .teams_item {
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}
.pausescreen_inner .dropdown-box__main .team_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pausescreen_inner .dropdown-box__main .team_name-text, .pausescreen_inner .dropdown-box__main .team_health-value {
  padding-bottom: 0;
}
.pausescreen_inner .dropdown-box__footer, .pausescreen_inner .dropdown-box__header {
  display: flex;
  justify-content: space-around;
}
.pausescreen_inner .load_button {
  font-size: 20px;
  padding: 10px 25px;
}

.logo {
  color: red;
}

/*# sourceMappingURL=main.css.map */
